@import "tailwindcss";
.tt {
    background-image: url("./Fhoto/background\ \(4\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tt1 {
    background-image: url("./Fhoto/bg-circles.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tt2 {
    background-image: url("./Fhoto/bg-color.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btnxurshed {
    border: 1px solid #FF3F3A;
}

.xbrl {
    border-right: 1px solid gray;
}

.d2x {
    border: 1px solid rgba(176, 176, 176, 0.662);
}